.sign-up-container{
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers content horizontally */
    justify-content: center; /* Centers content vertically */
    height: 100vh; /* Makes the container take up the full height of the viewport */
}