.player-detail-container {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap onto the next line */
    justify-content: space-around; /* Distribute items evenly with space between */
    margin: 0 auto; /* Center the container horizontally */
}

.player-name-container {
    text-align: center; /* Center the text horizontally */
    margin-bottom: 20px; /* Add margin for spacing */
}

